body {
    background-color: wheat;
    background-image: url(images/The\ Great\ Wave.jpg);
    background-size: auto;
    background-position: center;
    background-size: cover;
    
}

article {
    font-size: 1.5em;
    background-color:rgb(255, 244, 225,0.9); 
    padding: 10px;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 20%;
}


h1 {
    font-size: 2em;
    font-family: "Copperplate", "Times New Roman";
    color:navy;
    text-align: center;

}

.olde, blockquote {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
}


a:link {
    color:deeppink;
}

a:visited {
    color:purple;
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color:lightseagreen;
}

.data {
    border: 2px solid black;
    font-size: 1.4em;
}
.data tr:nth-child(even) {
    background-color:lightgrey;
}

.data th {
    background-color:lightgray;
    border-bottom: 1px solid black;
}

.data tr:hover {
    background-color:powderblue;
}

img {
    border: 5px solid navy;
    display: block;
    margin-left: auto;
    margin-right: auto;
}